In [1]:
d=0B1010
print(d)

10

In [2]:
f=0xff
print(f)

255

In [49]:
r='''  rakesh is
creator and awesome  '''
print(r)

  rakesh is
creator and awesome

In [50]:
print(r[2])

r

In [51]:
print(r*2)

  rakesh is
creator and awesome    rakesh is
creator and awesome

In [52]:
print(len(r))

33

In [53]:
print(r[0:5])

  rak

In [54]:
print(r[0:6])

  rake

In [55]:
print(r[0:])

  rakesh is
creator and awesome

In [56]:
print(r[:8])

  rakesh

In [57]:
print(r[-3:-1])

e

In [58]:
print(r[0:9:2])

 rks

In [13]:
print(r[15::-1])

aerc
si hsekar

In [14]:
print(r[::-1])

  emosewa dna rotaerc
si hsekar

In [15]:
print(r.strip())

rakesh is
creator and awesome

In [16]:
print(r.lstrip())

rakesh is
creator and awesome

In [61]:
print(r.rstrip())

  rakesh is
creator and awesome

In [67]:
print(r.find("awe",0,8))

-1

In [19]:
print(r.count("a"))

4

In [20]:
print(r.replace("awesome","super"))

  rakesh is
creator and super

In [21]:
print(r.upper())

  RAKESH IS
CREATOR AND AWESOME

In [22]:
print(r.lower())

  rakesh is
creator and awesome

In [23]:
print(r.title())

  Rakesh Is
Creator And Awesome

In [24]:
lst=[10,20,"bharath",-10,30.5]
print(lst)

[10, 20, 'bharath', -10, 30.5]

In [25]:
print(lst[3])

-10

In [26]:
print(lst[3:5])

[-10, 30.5]

In [27]:
print(lst*4)

[10, 20, 'bharath', -10, 30.5, 10, 20, 'bharath', -10, 30.5, 10, 20, 'bharath', -10, 30.5, 10, 20, 'bharath', -10, 30.5]

In [28]:
print(len(lst))

5

In [29]:
lst.append(40)
print(lst)

[10, 20, 'bharath', -10, 30.5, 40]

In [30]:
lst.remove("bharath")
print(lst)

[10, 20, -10, 30.5, 40]

In [31]:
del(lst[1])
print(lst)

[10, -10, 30.5, 40]

In [32]:
print(max(lst))
print(min(lst))

40
-10

In [33]:
lst.insert(3,99)
print(lst)

[10, -10, 30.5, 99, 40]

In [34]:
lst.sort(reverse=True)
print(lst)

[99, 40, 30.5, 10, -10]

In [42]:
s=r='''rakesh 
is creator and awesome'''
print(r[0:5])

rakes